{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" type="text/css" href="static/css/homepage.css" media="screen" />
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_wheels_url = "{{=URL('homepage_api', 'get_wheels')}}";
    var add_wheel_url = "{{=URL('homepage_api', 'add_wheel', user_signature=True)}}";
    var edit_wheel_url = "{{=URL('api', 'edit_wheel', user_signature=True)}}";
    var del_wheel_url = "{{=URL('homepage_api', 'del_wheel', user_signature=True)}}";
    var prefix_wheel_url = "{{=URL('wheel', host=True)}}";
    var prefix_profile_url = "{{=URL('profile', host=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- add wheel -->
         <div class="button_bar">
            <!-- Colored raised add post button -->
            <div v-if="!is_adding_wheel">
                <h2>Wheels</h2>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-on:click="cancel_add_button()" v-bind:class="{'disabled': !logged_in}">
                    Add new wheel
                </button>
            </div>
            <!-- Raised delete button -->
            <button v-if="is_adding_wheel" class="mdl-button mdl-js-button mdl-color--red" v-on:click="cancel_add_button()">
            Cancel
            </button>

         </div>

        <div v-if="is_adding_wheel" id="add-new-wheel">
            <form action="#" v-on:submit.prevent="add_wheel" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="no_table_wheel_content__row">
                    <div id="form_div">
                        <input class="form-control string" id="no_table_wheel" name="Content" type="text" v-model="form_name" placeholder="Name"/>
                        <span class="help-block"></span>
                    </div>

                    <div id="form_div1">
                        <input class="form-control string" id="no_table_wheel1" name="desc" type="text" v-model="form_description" placeholder="Description"/>
                        <span class="help-block"></span>
                    </div>


                </div>

                <div class="form-group" id="submit_record__row">
                    <div>
                        <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary" v-on:click="add_wheel_button()" id="add_wheel_submit" type="submit" value="Post" />
                    </div>
                </div>
            </form>


        </div>
        <!-- add wheel -->


        <!-- view wheels -->


                    <div id="list-container" v-for="wheel in wheels" class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--6-col">


                        <div id="too_long_name" v-if="!is_editing_wheel || wheel.id != current_wheel_id" class="mdl-card__title">
                            <a class="wheel_link" v-on:click="goto_wheel_url(wheel.id)">${wheel.name}</a>
                        </div>
                        <div v-if="!is_editing_wheel || wheel.id != current_wheel_id" class="mdl-card__supporting-text">
                            <div>
                                <a class="profile_link" v-on:click="goto_profile_url(wheel.creator_id)">${wheel.creator_name}</a>
                            </div>
                            <div id="too_long">
                                <span class="mdl-list__item-text-body">${wheel.description}</span>
                            </div>
                            <span class="secondary_item_odd">Phase: ${wheel.phase}</span>
                            <span class="secondary_item_even">Created On: ${wheel.creation_time}</span>
                            <span id="too_long_chosen" class="secondary_item_odd">Chosen: ${wheel.chosen_one}</span>
                        </div>
                        <div v-if="is_editing_wheel && wheel.id == current_wheel_id" class="mdl-card__supporting-text">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="no_table_wheel_content__row">
                            <input class="mdl-textfield__input" id="no_table_wheel" name="Content" type="text" v-model="form_name">
                            </div>
                            <div class="mdl-textfield mdl-js-textfield" id="no_table_wheel_content__row1">
                            <input class="mdl-textfield__input" id="no_table_wheel1" name="Content" type="text" v-model="form_description">
                            </div>
                            <!--
                            <textarea v-model="form_name">${wheel.name}</textarea>
                            <textarea v-model="form_description">${wheel.description}</textarea>
                            -->
                        </div>
                        <span class="mdl-card__actions mdl-card--border">
                            <div v-if="wheel.creator_email == current_user && !is_editing_wheel" class="mdl-chip__text">
                                <i class="mdl-button mdl-js-button" v-on:click="edit_wheel_button(wheel.id, wheel.name, wheel.description)">Edit</i>
                            </div>
                            <div v-if="wheel.creator_email == current_user && !is_editing_wheel" class="mdl-chip__text">
                                <i class="mdl-button mdl-js-button" v-on:click="delete_wheel(wheel.id)">Delete</i>
                            </div>
                            <div v-if="is_editing_wheel && wheel.id == current_wheel_id" class="mdl-chip__text">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" v-on:click="edit_wheel(wheel.id)">
                                    Confirm
                                </button>
                            </div>
                            <div v-if="is_editing_wheel && wheel.id == current_wheel_id" class="mdl-chip__text">
                                <button class="mdl-button mdl-js-button mdl-button--raised" v-on:click="cancel_edit_button(wheel.id)">
                                    Cancel
                                </button>
                            </div>
                        </span>
                     </div>

            <div v-if="has_more" class="show_more">
                <!-- Colored FAB load more button -->
                <button class="mdl-button mdl-js-button mdl-button--primary" id="load-more" v-on:click="get_more()">
                    See more <i class="material-icons">expand_more</i>
                </button>
            </div>

        <!-- view wheels -->
     </div>

</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>

