{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" type="text/css" href="static/css/homepage.css" media="screen" />
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var wheel_id = {{=args}};
    var get_wheel_url = "{{=URL('api', 'get_wheel')}}";
    var get_suggestions_url = "{{=URL('api', 'get_suggestions')}}";
    var add_suggestion_url = "{{=URL('api', 'add_suggestion')}}";
</script>
{{end}}


        <style>
            .wheelr {
                max-width: 1000px;
                margin: auto;
                z-index: 10;
            }
            .wheelr .mdl-card {
                margin: 33px;
                z-index: 10;
                overflow: visible;
            }
            #editor {
                display: none;
            }
            #bottom-fab {
                bottom: 25px;
                right: 25px;
                position: fixed;
                z-index: 20;
            }
            #card-fab {
                position: absolute;
                top: 0;
                right: 28px;
                -webkit-transform: translate(0px, -28px);
                transform: translate(0px, -28px);
                z-index: 20;
            }
            #vue-div {
                display: none;
            }
        </style>

        {{if args == "new":}}
        <div class="mdl-grid wheelr">
            <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--12-col">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Start a wheel</h2>
                </div>
                <div class="mdl-cell mdl-card__supporting-text">
                    {{=form}}
                </div>
            </div>
        </div>

        {{else:}}
        <div class="mdl-grid wheelr" id="vue-div">
            <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--12-col edit-toggle" id="editor">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Edit wheel info</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{=form}}
                </div>
            </div>
            <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--6-col edit-toggle">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="card-fab"
                onclick='$(".edit-toggle").toggle()'>
                    <i class="material-icons">edit</i>
                </button>
                <div class="mdl-card__title">
                    <h2 v-if="wheel && wheel.name" class="mdl-card__title-text">${wheel.name}</h2>
                </div>
                <div v-if="wheel && wheel.description" class="mdl-card__supporting-text">
                    ${wheel.description}
                </div>
            </div>
            <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--6-col edit-toggle">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Placeholder for wheel spinner</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Put the spinner here
                </div>
            </div>
            <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--12-col">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="card-fab">
                    <i class="material-icons">add</i>
                </button>
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Placeholder for suggestions</h2>
                </div>
                <ul class="mdl-list">
                    <li v-for="suggestion in suggestions" class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                              <span>${suggestion.name}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <script src="{{=URL('static', 'js/default_wheel.js')}}"></script>

        {{pass}}