.wheel_link {
    font-size: 2em;
    color: blue;
}

.profile_link {
    font-size: 1.1em;
    color: green;
}

.secondary_item_even {
    font-size: 0.8em;
    margin-left: 5px;
}

.secondary_item_odd {
    font-size: 0.8em;
    margin-left: 5px;
}

#no_table_wheel {
    margin-top: 10px;
}

.form-horizontal {
    margin-left:10px;
}

#too_long {
    overflow: auto;
    color: black;
}

#too_long_name {
    overflow: auto;
}

#list-container {
    width: 100%;
}








